# Ignore everything
*

# Allow folders
!*/

# Allow .c and .h files
!*.[ch]

# But disallow test and extra files
# *test*
# crit_utils.h

# Allow testers
!testers/**

# Allow Makefiles
!Makefile

# Allow helper Makefiles
!*.mk

# Allow repos to contain their own .gitignore
!.gitignore
